{# src/Erosproject/H5bpBundle/Resources/views/Default/base.html.twig #}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><!-- safe to remove if you are using apache mod_headers -->
        <title>{% block title %}ErosProject/Library/H5bpBundle/views/Default/base.html.twig{% endblock %}</title>
		<meta name="description" content="{% block metaDescription %}This page needs a description{% endblock %}">
		<meta name="author" content="">
        <meta name="robots" content="{% block metaRobots %}noindex,follow{% endblock %}" />
        <meta name="keywords" content="{% block metaKeywords %}{% endblock %}" />
        <meta http-equiv="cache-control" content="max-age=200" /><!-- Defunct ... can probably remove -->
        <meta name="viewport" content="width=device-width" />       

        

        {% stylesheets
        	'@EPLibH5bpBundle/Resources/public/css/normalize.min.css'
            '@EPLibH5bpBundle/Resources/public/css/main-head.css'
            '@EPLibH5bpBundle/Resources/public/css/main-initializer.css'
            '@EPLibH5bpBundle/Resources/public/css/main-initializer-media-queries.css'
            '@AutomotiveAuthoritySiteBundle/Resources/public/css/main.css'
            '@EPLibH5bpBundle/Resources/public/css/main-foot.css'
        %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
        {% endstylesheets %}
	
	{% block userStylesheets %}{% endblock %}
	
	{% block javascripts %}
            {% javascripts
                '@EPLibH5bpBundle/Resources/public/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js'

            %}
                <script type="text/javascript" src="{{ asset_url }}" charset="utf-8"></script>
            {% endjavascripts %}
	{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
	<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

	<div id="header-container">
		<header class="wrapper clearfix">
			<h1 id="title">h1#title</h1>
			<nav>
				<ul>
					<li><a href="#">Nav Button 1</a></li>
					<li><a href="#">Nav Button 2</a></li>
					<li><a href="#">Nav Button 3</a></li>
				</ul>
			</nav>
		</header>
	</div>
	<div id="main-container">
		<div id="main" class="wrapper clearfix">
			{% block body %}{% endblock %}
<!-- THIS SHOULD GO IN YOUR index.html.twig for your default application bundle
			<article>
				<header>
					<h1>article header h1</h1>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec.</p>
				</header>
				<section>
					<h2>article section h2</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.</p>
				</section>
				<section>
					<h2>article section h2</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices. Proin in est sed erat facilisis pharetra.</p>
				</section>
				<footer>
					<h3>article footer h3</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor.</p>
				</footer>
			</article>
			
			<aside>
				<h3>aside</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante. Etiam bibendum iaculis libero, eget molestie nisl pharetra in. In semper consequat est, eu porta velit mollis nec. Curabitur posuere enim eget turpis feugiat tempor. Etiam ullamcorper lorem dapibus velit suscipit ultrices.</p>
			</aside>

END OF STUFF TO GO INTO index.html.twig-->
			
		</div> <!-- #main -->
	</div> <!-- #main-container -->
	<!-- FOOTER START -->
		<div id="footer-container">
			<footer class="wrapper">
				<h3>footer</h3>
			</footer>
		</div>
		
		<!--FOOTER SCRIPTS --> 
		{% block footerJavascripts %}
		    	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		    	{% javascripts
	    			'@EPLibH5bpBundle/Resources/public/js/vendor/jquery-1.9.1.min.js'
	    		%}
			<script>window.jQuery || document.write('<script type="text/javascript" src="{{ asset_url }}" charset="utf-8"><\/script>')</script>
			{% endjavascripts %}

			<!-- scripts concatenated and minified via ant build script-->
			<script src="js/plugins.js"></script>
			<script src="js/script.js"></script>
			<!-- end scripts-->

			<script>
				var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
		        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
		        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
		        s.parentNode.insertBefore(g,s)}(document,'script'));
			</script>
		{% endblock %}
		{% block userJavascripts %}{% endblock %}
		<!--END OF FOOTER SCRIPTS -->
	<!--END FOOTER-->
    </body>
</html>
